body {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

header {
  margin-top: 50px;
}

h1 {
  padding: 30px 80px 30px 10px;
  background-color: #dccfe1;
  color: black;
  font-size: 50px;
  text-align: center;
}

.box1 {
  
}

.box2 {
  
}

h2 {
  margin-top: 50px;
  color: black;
  text-align: center;
  border-radius: 10px;
  clear: both;
}

nav ul {
  padding-left: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
}

nav a:hover {
  color: black;
  border-bottom: 5px solid #ff0000;
}

.photo {
  float: left;
}

.profile {
  float: right;
}

ol {
  padding-left: 0;
}

ol li {
  display: inline-block;
  box-sizing: border-box;
  width: 375px;
  vertical-align: top;
  border: solid 1px salmon;
  padding: 10px;
  margin: 10px;
}

/*ここでSNS*/

footer {
  text-align: center;
  background-color: #dccfe1;
}
