body {
  background-color: white;
  color: #42406f;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
/*フォント変える*/

h1 {
  margin: 0;
  padding: 0;
}
/*余白消してる*/

header {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  left: 0; /*ヘッダー固定*/
  background-color: white;
  border-bottom: 1px solid #42406f;
  /*position: absolute;
    z-index: 1;*/
  /*P244必要か調べる*/
}

.up {
  width: 960px;
  margin: 0 auto;
  padding: 14px 0;
}
/*よくわかってないP235*/

.logo {
  width: 247px;
  float: left;
}
/*なんで247pxかわからんP238*/

nav {
  margin-left: 600px;
}
/*px調整するP238*/

nav ul li {
  list-style-type: none;
  float: left;
  font-size: 20px;
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}
/*いらんかもわからんP239*/

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
}
/*下線の色を変更するに変えてもいいかもP240*/

.refrigerator {
  width: 100%;
  height: 1000px;
  background-color: #dccfe1;
  padding-top: 10%;
}
/*高さ変えてもいいP243*/

.refrigerator2 {
  /*width: 100%;*/
  height: 900px;
  background-color: #f7f8fa; /*画像の背景の白色に合わせてる*/
  margin: 3%;
}

.refrigeratorimage {
  width: 35%;
  float: left;
  text-align: right;
  margin-top: 3%;
}

.refrigeratorimage .sp {
  display: none;
}
.refrigeratorimage .pc {
  display: block;
  margin-left: 40%; /*調整する*/
}

.refrigeratorexplanation {
  width: 45%;
  float: left;
  text-align: center;
  margin-top: 10%;
  margin-left: 5%;
}
/*サイズをmarginで調整しているが別のやり方にする*/

.refrigeratorapp {
  width: 25%;
  margin: 0 auto;
  margin-top: 30%;
}
.refrigeratorapp p {
  text-align: center;
}

.refrigeratoryoutube {
  clear: both;
}

#back {
  display: none;
}

/*.topimage div {
  width: 960px;
  margin: 0 auto;
  text-align: right;
}*/
/*divの意味が分からないP242*/

/*P258~*/

h2 {
  text-align: center;
  border-bottom: 3px solid #42406f;
}

h3 {
  text-align: center;
  border-bottom: 3px solid #42406f;
}

.back {
  width: 100px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-top: 200px;
  color: #42406f;
  border: solid 3px #42406f;
}

.back a {
  line-height: 50px;
  font-size: 20px;
  color: #42406f;
  text-decoration: none;
}

.back:hover {
  background-color: #42406f;
}

.back a:hover {
  color: white;
}

footer {
  height: 30px;
  background-color: #f7cbc8;
  font-size: x-small;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .up {
    width: 380px;
    margin: 0 auto;
    padding: 14px 0;
  }

  .logo {
    /*width: 200px;*/
    float: left;
    margin-left: 0;
  }

  .refrigerator {
    width: 100%;
    height: 1300px;
    background-color: #dccfe1;
    padding-top: 10%;
  }
  /*高さ変えてもいいP243*/

  .refrigerator2 {
    height: 1200px;
    background-color: #f7f8fa; /*画像の背景の白色に合わせてる*/
    margin: 3%;
  }

  .refrigeratorimage {
    width: 100%;
    text-align: center;
  }

  .refrigeratorimage .pc {
    display: none;
  }
  .refrigeratorimage .sp {
    display: block;
    margin: auto;
  }

  .refrigeratorexplanation {
    width: 90%;
    text-align: center;
    margin: 3%;
  }

  .refrigeratorapp {
    width: 80%;
    margin: 0 auto;
    margin-top: 30%;
  }
}
